
.SimulatePanel {

    position: relative;

    background-color: rgb(141, 202, 80);

    width: 600px;
    height: 400px;
}


.renderItem {

    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 60px;
}



.renderArrow {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center; 


}


.hazardIcon {
    color: black;
}

.colorBlobIcon {
    color: rgb(182, 93, 108);
}


.importantIcon {
    color: rgb(224, 224, 52);

}