@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap');

.SimulatePanel {

    position: relative;

    background-color: lightblue;

    /* border: 5px solid purple; */

    width: 600px;
    height: 400px;
}


.renderItem {

    position: absolute;
    /* border: 2px solid purple; */

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
}