@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Noto+Sans+KR:wght@600&display=swap');



.gameBoyPanel {

    width: 1000px;
    height: 1100px;

    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: rgb(202, 202, 202);

    border: 4px solid black;

}

.crossPad {

    position: absolute;
    top: 800px;
    left: 50px;

    font-size: 200px;
    
    color: rgb(27, 27, 27);
}


.buttonA {

    position: absolute;
    top: 820px;
    left: 830px;

    font-size: 100px;
    color: rgb(172, 40, 40);

}


.buttonB {

    position: absolute;
    top: 900px;
    left: 740px;

    font-size: 100px;
    color: rgb(172, 40, 40);
 
}


.selectButtonPanel {

    position: absolute;
    top: 1000px;
    left: 350px;

    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;

    transform: rotate(-30deg);
}

.buttonSelect {

    font-size: 20px;
    color: rgb(68, 67, 67);

}


.startButtonPanel {

    position: absolute;
    top: 1000px;
    left: 500px;

    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;

    transform: rotate(-30deg);
}

.buttonStart {

    font-size: 20px;
    color: rgb(68, 67, 67);

}


.logo {

    font-size: 30px;
    font-family: 'Kdam Thmor Pro', sans-serif;

    position: absolute;
    top: 700px;
    left: 100px;

    color: blue;
}