@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@600&display=swap');

.messageBox {

    position: relative;
    top: 10px;
    left: 155px;

    display: flex;
    align-items: center;


    border-radius: 5px;
    background-color: rgb(178, 178, 255);

    width: 400px;
    height: 20px;

    line-height: 5px;
}

.icon {
    font-size: 20px;

    margin-left: 5px;
}

.message {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;

    margin-left: 5px;
}
