

.MainPanel {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 50px;
    left : 600px;

    background-color: gray;

    border: 3px solid black;
    border-radius: 10px;

    width: 800px;
    height: 600px;

}


.Bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 35px;

    width: 600px;
    height: 100px;
}